<div layout="column"   >
  <div flex layout="row">
      <md-toolbar md-scroll-shrink>
        Easy Splitter
      </md-toolbar>
  </div>
    <div flex="100" layout="column" layout-padding >
        <md-toolbar>
      <div class="md-toolbar-tools">
        
        <h2>
          <span>Dishes</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Learn More" ng-click="addNewDish($event)">
          Add
        </md-button>
        
      </div>
    </md-toolbar>
        <div layout="column">
            <div flex>
             <form name="addPeopleForm">
                <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>UserName</label>
                <input ng-model="user.email">
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Password</label>
                <input ng-model="user.password" type="password">
              </md-input-container>
            </div>
            <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
             <md-button class="md-raised md-primary" ng-click="openSignUp($event)">Register</md-button>
            </form>
        </div>
        </div>
   
    </div>
</div>